.container {
    height: 100%;
    display: grid;
    grid-gap: 3px;
    grid-template-rows: 1fr 9fr 3fr 1fr;
}
.site-header {
    background-color: lightskyblue;
    color: white;
}
.site-main{
    background-color: green;
    color: white;
    height:100%;
}
.widget-area {
    background: purple;
    color: white;
}
.site-footer {
    background-color: darkblue;
    color: white;
}

@media (min-width: 1024px) {
    .container {
       height: 100%;
       display: grid;
       grid-template-columns: 1fr 2fr;
       grid-template-rows: 5fr 2fr 1fr;
    }
    .site-header {
        grid-row: 1 / -1;        
    }
}
@media (min-width: 1600px) {
    .container {
        height: 100%;
        display: grid;
        grid-template-columns: 1fr 2fr 1fr;
        grid-template-rows: 7fr 1fr;
    }
    .site-header {
        grid-row: 1 / -1;
    }
    .widget-area{
        grid-column: 3 / -1;
        grid-row: 1 / -1;
    }
}
